@charset "UTF-8";

/* reset default style */
div.doclink, div.doclink * { list-style: none outside !important; margin: 0 !important; padding: 0 !important; border: 0 none !important; color: inherit !important; background: transparent !important; font-size: 100% !important; font-style: normal !important; font-weight: normal !important; font-variant: normal !important; text-align: left !important; text-decoration: none !important; text-indent: 0 !important; vertical-align: baseline !important; }

div.doclink {
  margin: 2em 8px !important;
  color: #000 !important;
  font-size: 90% !important;
}

div.doclink ul {
  text-align: center !important;
}

div.doclink ul li {
  margin: 0 1px !important;
  display: inline !important;
  background: #fff !important;
}

div.doclink ul li.enabled {
}

div.doclink ul li.disabled {
  padding: 0.3em 0.5em !important;
  color: #999 !important;
}

div.doclink ul li a,
div.doclink ul li a:link,
div.doclink ul li a:visited {
  padding: 0.3em 0.5em !important;
  border: 1px solid #999 !important;
  color: #1462C1 !important;
}

div.doclink ul li a:hover,
div.doclink ul li a:focus,
div.doclink ul li a:active {
  padding: 0.3em 0.5em !important;
  border: 1px solid #999 !important;
  background: #3774d0 !important;
  color: #fff !important;
}

div.doclink p {
  margin: 0.5em 0 0 !important;
  color: #999 !important;
  text-align: right !important;
}
