@charset "UTF-8";

/* reset default style */
div.doclink, div.doclink * { list-style: none outside !important; margin: 0 !important; padding: 0 !important; border: 0 none !important; color: inherit !important; background: transparent !important; font-size: 100% !important; font-style: normal !important; font-weight: normal !important; font-variant: normal !important; text-align: left !important; text-decoration: none !important; text-indent: 0 !important; vertical-align: baseline !important; }

div.doclink {
  margin: 2em 8px !important;
  color: #000 !important;
  font-size: 90% !important;
}

div.doclink ul {
  text-align: center !important;
}

div.doclink ul li {
  margin: 0 1px !important;
  display: inline !important;
  background: #fff !important;
}

div.doclink ul li.enabled {
}

div.doclink ul li.disabled {
  padding: 2px 6px !important;
  color: #aaa !important;
}

div.doclink ul li a,
div.doclink ul li a:link,
div.doclink ul li a:visited {
  padding: 2px 6px !important;
  border: 1px solid #ddd !important;
  color: #0063dc !important;
}

div.doclink ul li a:hover,
div.doclink ul li a:focus,
div.doclink ul li a:active {
  padding: 2px 6px !important;
  border: 1px solid #036 !important;
  background: #0063dc !important;
  color: #fff !important;
}

div.doclink p {
  margin: 0.5em 0 0 !important;
  color: #aaa !important;
  text-align: right !important;
}
